.bordered {
    padding: 20px;
    border: 5px solid black;
    border-radius: 15px;
    background-color:lightblue;
    font-family: "Lucida Console", "Courier New", monospace;
  }
input[type=text]{
  width:50%;
  height:30px;
  border-radius: 10px;
}
td{
padding:5px;
}
.ab{
	text-align="center";
	color:red;
}
body{
background-color:LightGray;
}